@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap'); 
/* fonts used in this webapp */



.Container { 
  color:#FAF8F1;
  font-family:'Inter', sans-serif;
  display:grid;
  grid-template-columns: 0.2fr 1fr 1fr; 
  grid-template-rows: 0.2fr 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "sidebar nav     nav"
    "sidebar content content"
    "sidebar content content";
  height:100vh;
}
/* contains sidebar, navbar and table */

/* sidebar containing categories */
.sidebar { 
  padding:10px;
  grid-area: sidebar; 
  background-color:#A67438;
  
}
#title h1{
  font-weight:900;
  font-size:33px;
  line-height:40px;
  text-align:center;
  text-transform:uppercase;
  top:3vh;
  float:left;
  position:relative;
}
.sidecontent{
  position:relative;
  top:10vh;
  font-style:normal;
  font-weight:400;
  font-size: 33px;
  line-height:40px;
}
.sidecontent button{
  background:none;
  color:inherit;
  border:none;
  padding:0;
  cursor:pointer;
  outline:inherit;
  font-style:inherit;
  font-size:inherit;
  font-weight:400;
}

#cancel_btn{
  position:relative;
  top:40vh;
  text-align:center;
  justify-content:center;
  display:flex;
  flex-direction:row;
  background:#B8ABA9;
  border:solid 5px #B8ABA9;
  border-radius:15px;
  padding:10px 20px;
}
#cancel_btn:hover{
  background:#c6bab8;
  border:solid 5px #c6bab8;
}
#delete_btn{
  position:relative;
  top:45vh;
  text-align:center;
  justify-content:center;
  display:flex;
  flex-direction:row;
  background:#ff2200;
  border:solid 5px #ff2200;
  border-radius:15px;
  padding:10px 20px;
}
#delete_btn:hover{
  background:#ff4f34;
  border:solid 5px #ff4f34;
}



.nav{ 

  padding:1px;
  grid-area: nav; 
  background-color:#A67438;

}
/* .nav #home_text{
  
  margin-left:2vw;
  font-weight:600;
  font-size:33px;

} */
.nav ul{
  list-style:none;
  padding-left:0;
  margin-left:75vw;
}
.nav ul li{
  display:inline;
  padding:5px;
}
.nav button{
  background:none;
  color:inherit;
  border:none;
  padding:0;
  cursor:pointer;
  outline:inherit;
}
#first{
  display:flex;
  position:absolute;
  margin-right:1vw;
  font-weight:600;
  font-size:44px;
  right:75vw;
}
.add{
  background:red;
  
  display:relative;
}




.content { 
  padding:5px;
  grid-area: content; 
  /* background-color:#FAF8F1; */
  background:#FFFFFFFF     ;
  overflow-x:scroll;
  overflow-y:scroll;
  
}
/* .inner{
  position:relative;
  top:-5px;
  left:-5px;
  display:grid;
  grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
  grid-template-rows: 10fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "date item brand product stock status sales revenue ave"
    "date item brand product stock status sales revenue ave";
  height:100%;
  overflow-x:scroll;
} */
/* .inner div{
  text-transform:uppercase;
} */
/* .outer{
  background:#DD9D34;
  position:relative;
  top:-5px;
  left:-5px;
  font-size:25px;
  font-weight:600;
  line-height:30px;
  display:flex;
  align-items:center;
  text-align:center;
}

.date{
  background:red;
}
.item{
    background:red;
}
.brand{
  background:red;
}
.product{
    background:red;
}
.stock{
  background:red;
}
.status{
  background:red;
}

.revenue{
  background:red;
}
.ave{
  background:red;
} */