.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Container {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "sidebar nav     nav"
    "sidebar content content"
    "sidebar content content";
  height:100vh;
  width:100%;
}
.sidebar { 
  padding:5px;
  grid-area: sidebar; 
  background-color:#61dafb;
}
.nav { 
  padding:5px;
  grid-area: nav; 
  background-color:red;
  height:10vh;
}
.content { 
  padding:5px;
  grid-area: content; 
  background-color:yellow;
  height:90vh;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
