@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap'); 
/* fonts used in this webapp */



.Container { 
  color:#FAF8F1;
  font-family:'Inter', sans-serif;
  display:grid;
  grid-template-columns: 0.2fr 1fr 1fr; 
  grid-template-rows: 0.2fr 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "sidebar nav     nav"
    "sidebar content content"
    "sidebar content content";
  height:100vh;
}
/* contains sidebar, navbar and table */

/* sidebar containing categories */
.sidebar { 
  padding:10px;
  grid-area: sidebar; 
  background-color:#A67438;
  
}
#title h1{
  font-weight:900;
  font-size:33px;
  line-height:40px;
  text-align:center;
  text-transform:uppercase;
  top:3vh;
  float:left;
  position:relative;
}
.sidecontent{
  position:relative;
  top:10vh;
  font-style:normal;
  font-weight:400;
  font-size: 33px;
  line-height:40px;
}
.sidecontent button{
  background:none;
  color:inherit;
  border:none;
  padding:0;
  cursor:pointer;
  outline:inherit;
  font-style:inherit;
  font-size:inherit;
  font-weight:400;
}

#cancel_btn{
  position:relative;
  top:47vh;
  text-align:center;
  justify-content:center;
  display:flex;
  flex-direction:row;
  background:#B8ABA9;
  border:solid 5px #B8ABA9;
  border-radius:15px;
  padding:10px 20px;
}
#delete_btn{
  position:relative;
  top:50vh;
  text-align:center;
  justify-content:center;
  display:flex;
  flex-direction:row;
  background:#ff2200;
  border:solid 5px #ff2200;
  border-radius:15px;
  padding:10px 20px;
}

#cancel_btn{
  position:relative;
  top:40vh;
  text-align:center;
  justify-content:center;
  display:flex;
  flex-direction:row;
  background:#B8ABA9;
  border:solid 5px #B8ABA9;
  border-radius:15px;
  padding:10px 20px;
}
#cancel_btn:hover{
  background:#c6bab8;
  border:solid 5px #c6bab8;
}
#delete_btn{
  position:relative;
  top:45vh;
  text-align:center;
  justify-content:center;
  display:flex;
  flex-direction:row;
  background:#ff2200;
  border:solid 5px #ff2200;
  border-radius:15px;
  padding:10px 20px;
}
#delete_btn:hover{
  background:#ff4f34;
  border:solid 5px #ff4f34;
}



.nav{ 

  padding:1px;
  grid-area: nav; 
  background-color:#A67438;

}
/* .nav #home_text{
  
  margin-left:2vw;
  font-weight:600;
  font-size:33px;

} */
.nav ul{
  list-style:none;
  padding-left:0;
  margin-left:75vw;
}
.nav ul li{
  display:inline;
  padding:5px;
}
.nav button{
  background:none;
  color:inherit;
  border:none;
  padding:0;
  cursor:pointer;
  outline:inherit;
}
#first{
  display:flex;
  position:absolute;
  margin-right:6vw;
  font-weight:600;
  font-size:44px;
  right:75vw;
}
.add{
  background:red;
  
  display:relative;
}




.content { 
  padding:5px;
  grid-area: content; 
  /* background-color:#FAF8F1; */
  background:#FAF8F1     ;
  overflow-x:scroll;
  overflow-y:scroll;
  
}
.category-drop{
  position:relative;
  margin-top:1vh;
  justify-content: center;
  display:inline-block;
  min-width:100px;
  text-align:left;
}

.category-btn{
  background:#FAF8F1;
  color:#DDBC86;
  border:5px solid #FAF8F1;
  border-radius:25px;
}

.category-btn ul{
  display:none;
  position:absolute;
  list-style:none;
  padding-left:0;
  margin-top:-0.5vh;
  font-size:15px;
}
.category-btn ul li{
  margin-top:1vh;
  background:#DDBC86; 
  border:2px solid #DDBC86;
  border-radius:25px;
  padding:5px;
  min-width:125px;
  color:#FAF8F1;
  font-weight:600;
  cursor:pointer;
}
.category-btn ul li:hover{
  background:#DD9D34;
  border:2px solid #DD9D34;
}
.category-btn ul li:active{
  background:#A67438;
  border:2px solid #ca8e44;
}
.category-text{
  font-size:15px;
  padding:12px 16px;
  font-weight:600;
}


.category-btn:hover .arrow{
  margin-bottom:2px;
  border: solid #DDBC86;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.category-drop :hover ul{
  display:block;
}

.category-down{
  display: none;
  position: absolute;
  background-color: #FAF8F1;
  min-width:100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius:25px;
  margin-top:1vh;
}
.arrow{
  margin-left:5px;
  margin-bottom:5px;
  border: solid #DDBC86;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.arrow-up{
  margin-left:5px;
  margin-bottom:2px;
  border: solid #DDBC86;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}