<html>
    <body>
        <form action="/product/add", method="POST">
            <label for="pname" required="true">Product Name:</label>
                <input type="text" id="pname" name="pname" required>

            <!--make this dropdown list dynamic-->
            <!--
            <label for="category">Select a Category</label>
                <select id="category" name="category">
                    <option value=1>Wood</option>
                    <option value=2>Paint</option>

                </select>
            -->
            <label for="category">Category ID:</label>
                <input type="number" id="category" name="category">
            <label for="brand">Brand: </label>
                <input type="text" id="brand" name="brand">
            <label for="description">Description:</label>
                <input type="text" id="desc" name="desc">
            <label for="price">Price:</label>
                <input type="number" id="price" name="price">
            
            <input type="submit">
        </form>
    </body>
</html>