<!--create a form for creating a new user type-->
<html>
	<head>
		<title>Add User Type</title>
	</head>
	<body>
		<h1>Add User Type</h1>
		<form action="/user/type/add" method="POST">
			<label for="utype_title">User Type</label>
			<input type="text" name="utype_title" id="utype_title">
			<br />
			<input type="submit" value="Submit">
		</form>
	</body>
</html>