<!--sends a call to delete a user upon button press-->

<html>
	<head>
		<title>Delete User</title>
	</head>
	<body>
		<h1>Delete User</h1>
		<form action="/:email" method="DELETE">
			<label for="email">Email</label>
			<input type="text" name="email" id="email">
			<button type="submit">Delete User</button>
		</form>
	</body>
</html>