<!-- login page for user using email and password-->

<html>
	<head>
		<title>Log In</title>
		<link rel="stylesheet" href="/css/login.css">
	</head>
	<body>
		<div class="login">
			<h1>Log In</h1>
			<form action="/login" method="post">
				<input type="text" name="email" placeholder="Email" required="required" />
				<input type="password" name="password" placeholder="Password" required="required" />
				<button type="submit" class="btn btn-primary btn-block btn-large">Let me in.</button>
			</form>
		</div>
	</body>
</html>